.container {
  display: flex;
  justify-content: center;
}

p {
  color: rgb(255, 255, 255);

  font-size: 1.5rem;
}
.content {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 70%;
  max-height: 60%;
  border-radius: 20px;
  margin: 5rem;
  color: rgb(255, 255, 255);
}

.headingDiv {
  display: flex;
  justify-content: space-around;
}
.topPart {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  justify-content: center;
  align-items: center;
}
.date {
  font-family: "Nanum Pen Script", cursive;
  font-size: 3rem;
  margin-left: 4rem;
}

.heading {
  font-family: "Nanum Pen Script", cursive;
  font-size: 6rem;
  word-wrap: break-word;
  display: flex;
  align-items: center;
}
img {
  margin-top: 8rem;
  margin-left: 4rem;
  border-radius: 20px;
  border: 3px solid white;
}
h3 {
  font-family: "Pridi", serif;
  font-size: 2rem;
  letter-spacing: 5px;
}
.secondPart {
  display: flex;
  justify-content: center;
  margin: 5rem;
}
.dateChoose {
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 3px solid white;
}
.explain {
  max-width: 70%;
  margin-left: 3rem;
}
input {
  max-width: 60%;
  padding: 1rem;
}
label {
  font-family: "Pridi", serif;
  font-size: 1.5rem;
  padding-top: 4rem;
}
p {
  font-family: "Pridi", serif;
}
